<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>

          <dt>Description</dt>
          <dd><%= @product.description %></dd>

          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>

          <dt>Price</dt>
          <dd><%= @product.price %></dd>

          <dt>Average Rating</dt>
          <dd></dd>



          <%= render 'review' %>

          <dd><% @product.reviews.reverse_order.each do |review| %></dd>
          <dt><%= review.user.first_name.titlecase %></dt><br>
          <dt><%= "Rating".pluralize %> </dt>
          <dd><%= review.rating %></dd>
          <dt><%= "Review".pluralize %></dt>
          <dd><%= review.description %></dd>
           <% if current_user == review.user %>




<%= link_to "Delete", product_review_path(product_id: @product.id, id:review.id) , method: :delete %>
<% end%>
          <% end %>
        </dl>
      </div>
    </div>

  </article>

</section>
